<h1 align="center"> Edit your account </h1>

<!--below all base copied from new.html.erb, and change something to fit edit-->

<!--in below ruby code, render 'form', means render the _form.html.erb,  we skip the _ , after the render command-->
<%= render 'form' %>


<!-- the bottom "Update your account, and Sign up wording will handle in _form.html.erb"-->