<!--copy from views/articles/_form.html.erb to be a base of styles-->

<h1 align="center"> Sign up for Alpha blog </h1>

<!-- because the below code almost the same with edit.html.erb; extract to _form.html.erb-->

<!--in below ruby code, render 'form', means render the _form.html.erb,  we skip the _ , after the render command-->
<%= render 'form' %>